

html {
    height: -webkit-fill-available;
    overflow: overlay;
}

body{
  word-wrap:break-word;
  background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-Background-Images-53.png");
  background-size: cover;
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
}

.well {
  background-color: #f5f5f526;
}

.mainSec {
  width: 50%;
  margin-left: 25%;
}

h1#titleColor {
    text-align: center;
}

img{
  width: 100%;
  height: 100%;
}


.jumbotron.text-center {
  padding: 0px;
  margin: 0%;
  background:rgb(242,102,89);
  border-radius: 30px;
  margin-left: 5%;
  margin-top: 20%;
  border: 2px solid white;
}

.container {
  margin-top: -36px;
}


h1 {
  font-family: cursive;
  font-size: 9rem;
  color: rgb(246,205,0);
}

#titleColor {
  color: rgb(246,205,0);
  font-size: 8rem;
  font-weight: bold;
}

a.btn.btn-default {
  font-size: x-large;
}

.col-sm-6.col-sm-offset-3 {
  padding-top: 146px;
}



input.form-control {
  padding: 25px;
  font-size: 25px;
}


button.btn.btn-warning.btn-lg {
  padding: 15px;
  font-size: 3rem;
}

p {
  margin: 0 0 10px;
  font-size: 3rem;
  color: ghostwhite;
}

a {
  color: rgb(96,187,41);
}


.table-responsive {
  font-size: 3rem;
}

.jumbotron p {
  color: rgb(246,205,0);
  font-weight: normal;
}

#buttonChange, #Add {
  background-color: yellowgreen;
}

#inAll {
  color: yellowgreen;
  font-size: 3rem;
}

#totalCalories {
  font-size: 3rem;
  color: yellowgreen;
}

a#buttonChangeTwo {
    /* width: 3%; */
    /* height: 2px; */
    border: 2px solid black;
    border-radius: 10%;
    padding: 1%;
    background-color: yellowgreen;
    color: white;
}



/* Header/Nav bar ---------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);


h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}

h3 {
	font-size: 30px;
	text-align: left;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	font-family: 'Bree Serif', 'serif';
	}

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	margin: 50px 0;
	background-color: #E64A19;
}

nav ul {
	list-style: none;
	position: relative;
	}

nav ul li {
	display:inline-block;
	background-color: #E64A19;
	}

nav a {
	display:block;
	padding:0 10px;
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover {
	background-color: #000000;
}

ul#list {
    margin-top: -2%;
    height: 90px;
    text-align: left;
    padding: 15px;
}


/* codepen Cal Counter -----------------------------------*/

.table-responsive {
  padding-top: 5px;
  width: 600px;
  margin: auto;
  border: none !important;
}

.table-curved {
  border-collapse: separate;
  border: solid white 5px;
  border-radius: 5px;
  background-color: #E6E6E6;
}

table th {
  font-size: 20px;
}

table tr td:first-child {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

table tr td:nth-child(2) {
  /* width: 70%; */
}

table tr td:nth-child(2) input {
  padding: 2px;
  width: 100%;
}

table tr td:nth-child(3) input {
  padding: 2px;
  width: 100%;
}

table tr:last-child td:last-child p {
  padding-top: 3px;
  padding-right: 10px;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}

input {
  border-radius: 5px;
}

button {
  transition-duration: 0.2s;
  color: white !important;
  background-color: #3C6ED8;
  border: 1px solid black;
  font-size: 16px !important;
  border-radius: 10px;
}

button:hover {
  background-color: white;
  color: black !important;
}

button:focus {
  outline: 0;
}

input[type="button"] {
  transition-duration: 0.2s;
  color: white;
  background-color: #3C6ED8;
  border: 1px solid black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  width: 50% !important;
}

input[type="button"]:hover {
  background-color: white;
  color: black;
}

input[type="button"]:focus {
  outline: 0;
}

label {
  display: inline-block !important;
  text-align: right;
  font-size: 19px;
  color: rgb(246,205,0);
}
/* ========================================== */

  h1 {
      text-align: left;
  }

  li {
      font-size: 26px;
      font-family: sans-serif;
      color: snow;
  }

  span {
    font-size: 18px;
}

h2 {
    font-style: italic;
    font-family: auto;
    color: white !important;
    font-size: 30px;
background-color: tomato !important;
padding: 3px !important;
margin-left: -41px !important;
margin-right: -1px !important;
width: 57%;
border-radius: 10px;
}


.col-sm-6 {
    position: absolute;
    margin-left: 2%;
}

ul.mealList {
    border: 6px solid mintcream;
    background-color: pink;
    border-radius: 22px;
}
/* ========================================== BMI */
.bmiPIC {
    width: 40%;
    margin-right: -120px;
    margin-top: 17px;
}
fieldset {
    width: 50%;
    margin: 25px -14% 0 50px;
    border: 1px solid #999999;
    box-shadow: 1px 1px #cccccc;
    padding: 10px;
}

label {
	float: left;
	width: 140px;
	display: block;
	clear: left;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}

button {
	margin-left: 150px;
}

input {
    margin-top: 10px;
    display: block;
    text-align: right;
    width: 31%;
    padding: 1%;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

#bmi_label {
	width: 200px;
}

#bmi {
	width: 66px;
}

#intro {
    width: 63%;
    padding: 40px;
    border: 1px solid #999999;
    box-shadow: 1px 1px #cccccc;
    text-align: center;
    margin-right: -20%;
}

section.bmiCal {
    width: 55%;
    text-align: -webkit-right;
}

p#intro {
    color: turquoise;
}

legend {
text-align: center !important;
    color: tomato;
        font-size: 35px !important;
}
